::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */


.content {
    width: min(95vw, 1200px);
    margin: 0 auto;
    padding-bottom: 50px;
}

h1 {
    @apply font-bold text-4xl mb-5 text-white p-2 bg-red-500 mt-10 inline-block rounded
}

h2 {
    @apply font-bold text-2xl mb-0.5 text-red-500 pb-1 mt-5
}

h3 {
    @apply text-xl mb-0.5 text-red-500 pb-1 mt-4
}


h4 {
    @apply text-lg mb-0.5 text-red-500 pb-1 mt-4
}

p {
    @apply mb-2
}

li p {
    display: inline;
}

img {
    @apply m-5
}

ul {
  list-style: none inside;
  margin-bottom: 10px;
}

ul li:before {
  content: "•"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: red; /* Or a color you prefer */
}

ul ul {
    padding-left: 10px;
}

ol ol {
    padding-left: 10px;
}


ol {
  list-style: lower-alpha inside;
}


